<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="login-form">
        <div class="container">
            <div class="main">
                <div class="content">
                    <h2>Log In</h2>
                    <form action="" method="post">
                        <input id="one" type="text" name="name" placeholder="User Name" required autofocus="">
                        <input id="one" type="password" name="pass" placeholder="User Password" required autofocus="">
                        <input id="Two" class="btn" type="submit" name="login">
                        <p class="forgot"> <a href="./mvc/views/fogotpassword.html">Forgot password?</a></p>
                    </form>
                    <p  class="account">Don't Have An Account? <a href="registration.php">Register</a></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
